.humidity{
    border-radius: 25px;
    background-color: #FFFFFF;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 5px 2px #E8E8E8;
    text-indent: 12px;
    font-weight: bold;
}

.soilMoisture{
    border-radius: 25px;
    background-color: #FFFFFF;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 5px 2px #E8E8E8;
    text-indent: 12px;
    font-weight: bold;
}

.temperature{
    border-radius: 25px;
    background-color: #FFFFFF;
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 5px 5px 5px 2px #E8E8E8;
    text-indent: 12px;
    font-weight: bold;
}